<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Node-Shopping List</title>
</head>
<body>
  <h1>Node Shopping List</h1>
  <a href="/">README</a> |
  <a href="/products">Products Index</a>
  {{#if cart}} |
    <a href="/carts">Cart</a>
  {{/if}}
  {{#if order}} |
    <a href="/orders">Order</a>
  {{/if}}
  
  {{{body}}}
</body>
</html>