<p>Products Index</p>

{{#each products}}
<ul>
  <li>id: {{id}}</li>
  <li>name: {{name}}</li>
  <li>price: {{price}}</li>
  <form action="/carts/add/{{id}}" method="POST">
      <input type="submit" value="ADD"></input>
  </form>
  
</ul>
{{/each}}